:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: rgb(0, 89, 116);
  --color-primary-hover: rgb(0, 113, 148);
  --color-reset: rgb(124, 81, 0);
  --color-reset-border: rgb(185, 121, 0);
  --color-reset-hover: rgb(185, 121, 0);
  --color-submit: rgb(64, 121, 0);
  --color-submit-border: rgb(93, 175, 0);
  --color-submit-hover: rgb(75, 141, 0);
  --color-filter: rgb(92, 1, 134);
  --color-filter-border: rgb(129, 0, 189);
  --color-filter-hover: rgb(109, 0, 160);
  --color-sorting: rgb(0, 102, 105);
  --color-sorting-border: rgb(1, 130, 134);
  --color-sorting-hover: rgb(1, 130, 134);
  --color-clear: rgb(105, 39, 0);
  --color-clear-border: rgb(145, 54, 1);
  --color-clear-hover: rgb(145, 54, 1);
  --color-card-button: rgba(44, 158, 56, 1);
  --color-card-button-hover: rgb(37, 136, 47);
  --color-minimalistic-text: #012000;
  --color-minimalistic-hover: rgb(233, 233, 233);
  --color-gray-border: #ABABAB;
  --color-header-bg: #F2F2F2;
  --color-default-bg: rgba(97, 97, 202, 0.9);
  --color-text: #012000;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
}

.disable-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-underline {
  text-decoration: none;
}

.mantine-Select-option {
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
.mantine-DateInput-day {
  &[variant="default"] {
    &:hover {
      background: none;
    }
  }
}
.mantine-Paper-root {
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.07);
}

.mantine-Card-root {
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.07);
}
.container {
  width: 90vw;
  margin: 0 auto;
}